@{
    ViewData["Title"] = "Quiz";
}
<link rel="stylesheet" href="~/css/quiz.css" asp-append-version="true" />
@await Html.PartialAsync("Partials/Header.cshtml")
<div class="quiz-container">
<ul class="quiz">
    <li>
        <h4>Question Number 1: </h4>
        <ul class="choices">
            <li>
                <label>
                    <input type="radio" name="question0" value="A" /><span></span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="question0" value="B" /><span></span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="question0" value="C" /><span></span>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="question0" value="D" /><span></span>
                </label>
            </li>
        </ul>
    </li>
    <li>
</ul>
    <div class="quiz-button">
        <button class="view-results" onclick="returnScore()">Back</button>
    <button class="view-results" onclick="returnScore()">Next</button>
    </div>
</div>
<script src="~/js/quiz.js" asp-append-version="true"></script>
@await Html.PartialAsync("Partials/Footer.cshtml")